{% extends "base.jinja" %} {% block informacion %}
<p>Hola yo soy un texto desde el change password</p>
<p class="text-primary">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
  necessitatibus nihil maxime saepe nesciunt officia ea ipsam illum, velit ab.
  Sint dolores itaque unde excepturi voluptas est explicabo laudantium officiis.
</p>
{% endblock%}
