<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-primary">Hola, {{ nombre }}, {{ saludo }}!</h1>
      <p>Tus productos son: {{ productos }}</p>
      <ol type="I">
        {# Cuando hacemos uso de una iteacion de una lista de estructuras (for,
        if, else, filter) en ese caso para indicar ese bloque de iteracion
        tenemos que {% statement %} .... {% endstatement %} #}
        <!--  -->
        {% for producto in productos %} {% if producto == 'pollo'%}
        <li>CUIDADO! este producto es no vegano: {{ producto }}</li>
        {% else %}
        <li>El producto es: {{ producto }}</li>

        {% endif %} {% endfor %}
      </ol>

      <p>
        Hay {{ masculinos | count }} personas masculinas y
        {{ femeninas | length }} personas femeninas y las masculinas son:
        <ul>
            {% for persona in masculinos%}
            <li>{{ persona['nombre'] }}</li>
            {% endfor %}
        </ul>
        y las femeninas son: 
        <ul>
            {% for persona in femeninas%}
            <li>{{ persona['nombre'] }}</li>
            {% endfor %}
        </ul>
      </p>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
